# Piping

Libraries and other essestials thing before we start

In [ ]:
from dfply import *
import seaborn as sns

In [2]:
cars = sns.load_dataset('mpg')

### Exercise 1.
Select the columns ‘mpg’ and ‘horsepower’ from the cars DataFrame.

In [5]:
cars >> select(cars.mpg, cars.horsepower) >> head(5)

    mpg  horsepower
0  18.0       130.0
1  15.0       165.0
2  18.0       150.0
3  16.0       150.0
4  17.0       140.0

### Exercise 2.
Select the columns ‘mpg’ and ‘horsepower’ from the cars DataFrame using the drop function.

In [8]:
cars >> drop(cars.cylinders, cars.displacement, cars.weight, cars.acceleration, cars.model_year, cars.name, cars.origin) >> head(5)

    mpg  horsepower
0  18.0       130.0
1  15.0       165.0
2  18.0       150.0
3  16.0       150.0
4  17.0       140.0